/*
	Alpha by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Header */

	.dropotron.level-0 {
		font-size: 1em;
	}

/* Banner */

	#banner {
		background-attachment: scroll;
	}

		#banner h2 {
			font-size: 3.5em;
		}